<div class="row justify-content-center">
    <div class="col-6">
      <h1>
        <%= @article.title %>
        <%= link_to icon("fas", "pencil-alt"), edit_article_path %>
        <%= link_to icon("fas", "trash-alt"), article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
      </h1>
      <p><%= @article.content %></p>
    </div>
  </div>
